@using Microsoft.AspNet.Identity
@model BookManager.Models.ManageUserViewModel

<p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "ink-form", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Password</h4>
    <hr />
    <div class="ink-alert basic error" id="cp-errors">
        @Html.ValidationSummary()
    </div>

    <fieldset>
        <div class="control-group column-group gutters">

            @Html.LabelFor(m => m.OldPassword, new { @class = "large-20 content-right" })
            <div class="control large-80">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="control-group column-group gutters">
            @Html.LabelFor(m => m.NewPassword, new { @class = "large-20 content-right" })
            <div class="control large-80">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="control-group column-group gutters">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "large-20 content-right" })
            <div class="control large-80">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>

        <div class="control-group column-group gutters large-25">
            <input type="submit" value="Change password" class="ink-button pull-right" />

        </div>
    </fieldset>
}
